DS_Store
.DS_Store
node_modules/
dist/
npm-debug.log
error_shots/*
temp_shots/*
docs/
!tmp/.gitkeep
!tmp/videos/.gitkeep
!tmp/mounted/.gitkeep
tmp/videos/*
tmp/mounted/*
test/config/groups/my_group.json
jenkins_group.json
old_group.json
y4m_files/
package-lock.json
.env
seluser/
test-report.xml
.idea/automation.client.ui.iml
test-report.html
test-results
mochawesome-report
.scannerwork
*-jest-output.json
*-marge-input.json